{% load static %}
{% load home_tags %}
<header class="header">
  <nav class="navigation" style="border-bottom: 1px solid #eee;">
    <div class="container-fluid">
      <div class="navigation__column left">
        <div class="header__logo"><a class="ps-logo" href="{% url 'home:index' %}">
          <img src="{% static 'img/3.png' %}" alt=""></a></div>
      </div>
      <div class="navigation__column center">
            <ul class="main-menu menu">
              <!-- <li class="menu-item menu-item-has-children dropdown"><a href="{% url 'home:index' %}">Home</a>

              </li> -->
              {% for item in Category %}
              {% if forloop.counter <= 4 %}

              <li class="menu-item"><a  href="{% url 'home:category' item.slug %}">{{item.Name}}</a>
              </li>
              {% endif %}
              {% endfor %}
{% comment %}
{% if item.parent.exists %}
{% endif %}
                <!-- <div class="mega-menu">
                  <div class="mega-wrap">
                    {% for items in category1 %}
                    {% if item.id == items.parent.id %}
                    <div class="mega-column">
                    {% if items.SubcatName.all %}

                      <h4 class="mega-heading">{{items}}</h4>

                      <ul class="mega-item">
                        {% for i in items.SubcatName.all %}
                        <li><a href="/category?Sub_category={{i}}">{{i}}</a></li>

                        {% endfor %}

                      </ul>
                      {% endif %}
                    </div>

                    {% endif %}
                    {% endfor %}
                  </div>
                </div> -->
{% endcomment %}




              <!-- <li class="menu-item"><a href="">All Categories</a></li> -->
              <li class="menu-item menu-item-has-children dropdown"><a href="">Info</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="{% url 'home:contactus' %}">Contact Us</a>

                      <li class="menu-item"><a href="">About Us</a></li>
                      <li class="menu-item"><a href="">FAQs</a></li>
                      </ul>
                      </li>

              <!-- <li class="menu-item menu-item-has-children dropdown"><a href="{% url 'home:contactus' %}">Contact</a>

              </li> -->
            </ul>
      </div>
      <div class="navigation__column right">
        {% comment %}
        {% for item in Category %}
        {% if item.active %}
        <form class="ps-search--header" action="{% url 'home:category' item.slug %}" method="get">
            {% else %}
            <form class="ps-search--header" action="{% url 'home:contactus' %}" method="get">

              {% endif %}
              {% endfor %}

          <input class="form-control" type="text" name ="q" placeholder="Search Product…">
          <button><i class="ps-icon-search"></i></button>
        </form>
        {% endcomment %}
          <div class="ps-cart">
             {% if request.user.is_authenticated %}
                <div class="btn-group ps-dropdown">
                  <a class="dropdown-toggle  ps-cart__toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {% with profile.name|get_initials as initial %}
                    <i>{{ initial }}</i>
                    {% endwith %}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'account:profile' %}">Profile</a></li>
                    <li><a href="{% url 'home:wishlistPage' %}">Wishlist</a></li>
                    <li><a href="{% url 'shop:order_summary' %}">Your Orders</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
                {% else %}
                <a class="ps-cart__toggle" href="{% url 'account:signin' %}">
                  <i><img src="{% static 'images/login_image.png' %}"></i>

                </a>
                {% endif %}
          </div>
        <div class="ps-cart">
          <a class="ps-cart__toggle"  href="{% url 'home:wishlistPage' %}">
                <i class="ps-icon-heart"></i></a>
        </div>
        <div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>{% if order.get_cart_items %}{{ order.get_cart_items }} {% else %} 0 {% endif %}</i></span><i class="ps-icon-shopping-cart"></i></a>
          <div class="ps-cart__listing">
            {% if order.get_cart_items %}
            <div class="ps-cart__content">
              {% for item in order.OrderItem.all %}
              <div class="ps-cart-item"><a class="ps-cart-item__close" href="{% url 'shop:deletefromcart' item.id %}"></a>
                <div class="ps-cart-item__thumbnail"><a href=""></a>
                  {% if item.variant %}

                  <img src="{{ item.variant.image_id.image1.url }}" alt="{{ item.variant.title }}">
                  {% else %}
                  <img src="{{ item.product.productimages.first.image1.url }}" alt="{{ item.product.ProductName }}">

                  {% endif %}

                </div>
                <div class="ps-cart-item__content"><a class="ps-cart-item__title" href="">
                  {% if item.variant %}
                  {{ item.variant.title }}
                  {% else %}
                  {{ item.product.ProductName }}

                  {% endif %}
                </a>

                  <p><span>Quantity:<i>{{ item.quantity }}</i></span>
                    {% if item.variant %}
                    <span>Total:<i>₹ {{ item.get_vari_total }}</i></span>
                    {% else %}
                    <span>Total:<i>₹ {{ item.get_prod_total }}</i></span>

                    {% endif %}

                  </p>
                </div>
              </div>
              {% endfor %}

            </div>
            <div class="ps-cart__total">
              <p>Number of items:<span>{{ order.get_cart_items }}</span></p>
              {% if order.get_ship_total == 0 %}
              <p>Shipping Charges:<span>FREE</span></p>

              {% else %}
              <p>Shipping Charges:<span>{{ order.get_ship_total }}</span></p>

              {% endif %}
              <p>Item Total:<span>₹ {{ order.get_cart_ship_total }}</span></p>
            </div>
            <div class="ps-cart__footer"><a class="ps-btn" style="width:40%;" href="{% url 'shop:cart' %}">Cart<i class="ps-icon-shopping-cart"></i></a>
              <a class="ps-btn" style="width:60%;" href="{% url 'shop:checkout' %}">Checkout<i class="ps-icon-arrow-left "></i></a></div>
            {% else %}
            <div class="ps-cart__footer"><a class="ps-btn" href="{% url 'home:index' %}">Shop Now<i class="ps-icon-shopping-cart"></i></a></div>

            {% endif %}
          </div>

        </div>
        <div class="menu-toggle"><span></span></div>
      </div>
    </div>
  </nav>

</header>
