{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="{% static 'Logo.png' %}" rel="apple-touch-icon">
    <link href="{% static 'Logo.png' %}" rel="icon">
    <meta name="author" content="Sayra">
    <meta name="keywords" content="Women Collection">
    <meta name="description" content="Default keyword">
    <title>Sayra</title>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/ps-icon/style.css' %}">
    <!-- CSS Library-->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/Magnific-Popup/dist/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/revolution/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/revolution/css/layers.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/revolution/css/navigation.css' %}">

    <!-- Custom-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/material-design-iconic-font.min.css' %}">


    <script type="text/javascript">

    function getCookie(name) {
    		    var cookieValue = null;
    		    if (document.cookie && document.cookie !== '') {
    		        var cookies = document.cookie.split(';');
    		        for (var i = 0; i < cookies.length; i++) {
    		            var cookie = cookies[i].trim();
    		            // Does this cookie string begin with the name we want?
    		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
    		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    		                break;
    		            }
    		        }
    		    }
    		    return cookieValue;
    		}


    		function uuidv4() {
    		  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    		    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    		    return v.toString(16);
    		  });
    		}




    		let device = getCookie('device')

    		if (device == null || device == undefined){
    			device = uuidv4()
    		}

    		document.cookie ='device=' + device + ";domain=;path=/"
        // alert(document.cookie)
	</script>
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script><![endif]-->
  </head>
  <!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
  <!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
  <body class="ps-loading">
    <div class="header--sidebar"></div>
{% with name="nav.html" %}

{% include name %}

{% endwith %}


{% block content %}




{% endblock %}


{% with name="footer.html" %}

{% include name %}

{% endwith %}
<!-- JS Library-->
<script type="text/javascript" src="{% static 'plugins/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/gmap3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/imagesloaded.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery.matchHeight-min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/slick/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/elevatezoom/jquery.elevatezoom.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script><script type="text/javascript" src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<!-- Custom scripts-->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% block Querycontent %}
{% endblock %}
</body>
</html>
